/**
 * @file
 * Throbber.
 */

.ajax-progress {
  display: inline-block;
}

/**
 * Progress bar.
 */

.ajax-progress-bar {
  width: 13em;
  padding: 0 0.3125rem; /* 0 5px */
}

/**
 * Throbber.
 */
.ajax-progress--throbber {
  display: inline-flex;
  height: 1.125rem;
  line-height: 1.125rem;
  align-content: center;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  margin: -3px var(--space-s) 0;
}

/**
 * Remove margin from ajax throbbers following buttons because buttons already
 * have a large margin set.
 */
.button + .ajax-progress--throbber {
  margin-left: 0; /* LTR */
}
[dir="rtl"] .button + .ajax-progress--throbber {
  margin-left: var(--space-s);
  margin-right: 0;
}

.ajax-progress__throbber {
  height: 1.125rem;
  width: 1.125rem;
  box-sizing: border-box;
  border: 2px solid var(--color-absolutezero);
  border-right: 2px dotted transparent;
  border-radius: 50%;
  animation: claro-throbber 0.75s linear infinite;
}

.ajax-progress__message {
  display: inline-block;
  padding-left: var(--space-s);
  font-size: var(--font-size-label);
}
[dir="rtl"] .ajax-progress__message {
  padding-left: 0;
  padding-right: var(--space-s);
}
/**
 * Full screen throbber.
 */
.ajax-progress--fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3.5rem; /* 56px */
  height: 3.5rem;
  margin: -1.75rem;
  border: var(--size-input-border) solid var(--color-jui-dropdown-border);
  border-radius: 3.5rem;
  box-shadow: 0 0.25rem 0.625rem var(--color-jui-dropdown-shadow);
  background: var(--color-white);
  box-sizing: border-box;
  z-index: 1000;
}
.ajax-progress__throbber--fullscreen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  margin: -0.875rem;
  border: 3px solid var(--color-absolutezero);
  border-right: 3px dotted transparent;
  content: '';
}

@media screen and (-ms-high-contrast: active) {
  /**
   * Throbber animation is shaky on Edge RTL on high contrast for border width
   * less than 4px.
   */
  @supports (-ms-ime-align:auto) {
    [dir="rtl"] .ajax-progress__throbber {
      border-width: 4px;
    }
  }
  .progress__bar {
    background-color: windowText;
  }
}

@keyframes claro-throbber {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
