/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 */

/**
 * Available modifiers are:
 *  - .claro-details--accordion
 *  - .claro-details--accordion-item
 *
 * 'Accordion item' is used for the details of the node edit sidebar. For creating
 * accordion item list from a set of details, set the surrounding Container
 * render element's '#accordion' key to TRUE.
 *
 * The other variant is 'accordion'. Despite the fact that it isn't used
 * anywhere right now, we implemented it (since the design defines that).
 * This variant can be used by setting the '#accordion' to TRUE for a
 * Details render element:
 * @code
 * $build['detail_accordion'] = [
 *   '#type' => 'details',
 *   '#accordion' => TRUE,
 * ];
 */

:root {
  --size-summary-border-radius: calc(var(--size-details-border-radius) - var(--size-details-border));
  --size-summary-focus-border: 3px;
}

.claro-details {
  display: block;
  border: var(--size-details-border) solid var(--color-details-border);
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
  background-color: var(--color-white);
  color: var(--color-text);
  border-radius: var(--size-details-border-radius);
  box-shadow: var(--shadow-details);
}

.claro-details--accordion-item {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: none;
}

.claro-details--accordion-item:first-of-type {
  border-top-right-radius: var(--size-details-border-radius);
  border-top-left-radius: var(--size-details-border-radius);
}

.claro-details--accordion-item:last-of-type {
  border-bottom-right-radius: var(--size-details-border-radius);
  border-bottom-left-radius: var(--size-details-border-radius);
}

/**
 * Details summary styles.
 */

.claro-details__summary {
  box-sizing: border-box;
  padding: var(--space-m) var(--space-m) var(--space-m) var(--details-wrapper-padding-desktop-left); /* LTR */
  list-style: none;
  background-color: transparent;
  color: var(--color-davysgrey);
  line-height: 1rem;
  text-transform: capitalize;
  border-radius: var(--size-summary-border-radius);
  transition: background-color var(--transition-duration-details-background-color) ease-in-out;
  cursor: pointer;
  position: relative;
}
[dir="rtl"] .claro-details__summary {
  padding-right: var(--details-wrapper-padding-desktop-left);
  padding-left: var(--space-m);
}

/* Modifiers */
.claro-details__summary--accordion,
.claro-details__summary--accordion-item {
  padding: var(--space-l) var(--space-l) var(--space-l) var(--details-wrapper-padding-desktop-left); /* LTR */
  background: var(--color-white);
}
[dir="rtl"] .claro-details__summary--accordion,
[dir="rtl"] .claro-details__summary--accordion-item {
  padding-right: var(--details-wrapper-padding-desktop-left);
  padding-left: var(--space-l);
}
/**
 * Accordion list items must not have border radius except they are the first
 * or the last ones.
 */
.claro-details__summary--accordion-item {
  border-radius: 0;
}

.claro-details--accordion-item:first-child .claro-details__summary--accordion-item {
  border-top-right-radius: var(--size-details-border-radius);
  border-top-left-radius: var(--size-details-border-radius);
}

.claro-details--accordion-item:last-child .claro-details__summary--accordion-item {
  border-bottom-right-radius: var(--size-details-border-radius);
  border-bottom-left-radius: var(--size-details-border-radius);
}

/**
 * Details marker styles.
 */

/* Remove the marker on Chrome */
.claro-details__summary::-webkit-details-marker {
  display: none;
}

.claro-details__summary::before {
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%23545560'/%3E%3C/svg%3E") no-repeat 50% 50%;
  background-size: contain;
  width: var(--space-m);
  height: var(--space-m);
  transition: transform var(--transition-duration-details-transform) ease-in 0s;
  display: inline-block;
  text-align: center;
  transform: rotate(0); /* LTR */
  position: absolute;
  left: var(--space-s); /* LTR */
  top: 50%;
  margin-top: calc(var(--space-m) / -2);
}
[dir="rtl"] .claro-details__summary::before {
  right: var(--space-s);
  left: auto;
  transform: rotate(180deg);
}

@media (prefers-reduced-motion: reduce) {
  .claro-details__summary::before {
    transition: none;
  }
}

@media screen and (-ms-high-contrast: active) {
  .claro-details__summary::before {
    transition: transform var(--transition-duration-details-transform) ease-in 0s, margin var(--transition-duration-details-transform) ease-in 0s;
    background: none;
    border: 0.125rem solid;
    border-width: 0.125rem 0.125rem 0 0;
    width: 0.5625rem;
    height: 0.5625rem;
    margin-top: calc(0.5625rem / -2);
    transform: rotate(45deg); /* LTR */
  }

  [dir="rtl"] .claro-details__summary::before {
    transform: rotate(225deg);
  }
}

/**
 * Safari (at least version 12.1) cannot handle our details marker
 * transition properly.
 *
 * Every additional pointer triggered toggle event freezes the transition,
 * and the transition is continued and finished after the pointer leaves
 * the Detail elements' summary.
 *
 * Even that it is possible to provide a JavaScript workaround for it (by
 * adding/removing a helper class with JavaScript if the Details is
 * toggled), that hack will make RTL details worse than without the hack.
 *
 * This weird query was found in
 * https://stackoverflow.com/questions/16348489#25975282 (based on the
 * answer it works for Safari 10.1+)
 */
/* stylelint-disable-next-line unit-whitelist */
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .claro-details__summary::before {
      transition: none;
    }
  }
}

/**
 * Details summary focus.
 */
.claro-details__summary::after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  transition: opacity var(--transition-duration-details-box-shadow) ease-in-out;
  opacity: 0;
  box-shadow: inset 0 0 0 var(--size-summary-focus-border) var(--color-details-summary-shadow);
  content: "";
  border-radius: var(--size-details-border-radius);
  pointer-events: none;
}

.claro-details > .claro-details__summary--accordion-item::after {
  border-radius: 0;
}

.claro-details:first-child > .claro-details__summary--accordion-item::after {
  border-radius: var(--size-details-border-radius) var(--size-details-border-radius) 0 0;
}

.claro-details:last-child > .claro-details__summary--accordion-item::after {
  border-radius: 0 0 var(--size-details-border-radius) var(--size-details-border-radius);
}

/**
 * Focus box of accordions and accordion items must not have bottom border
 * radius if their accordion is expanded.
 */
.claro-details[open] > .claro-details__summary--accordion::after,
.claro-details[open] > .claro-details__summary--accordion-item::after {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/**
 * Details summary states.
 */
.claro-details__summary:focus {
  box-shadow: none;
}

[open] .claro-details__summary--accordion,
[open] .claro-details__summary--accordion-item {
  color: var(--color-absolutezero);
}

.claro-details__summary:hover::before,
.claro-details__summary:hover:focus::before,
.claro-details[open] > .claro-details__summary:focus::before,
.claro-details[open] > .claro-details__summary--accordion::before,
.claro-details[open] > .claro-details__summary--accordion-item::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M5.2109375,1.3144531 3.7890625,2.7226562 9.0917969,8.0761719 3.7890625,13.429688 5.2109375,14.837891 11.908203,8.0761719Z' fill='%230036B1'/%3E%3C/svg%3E");
}

.claro-details[open] > .claro-details__summary {
  border-radius: var(--size-summary-border-radius) var(--size-summary-border-radius) 0 0;
}

.claro-details[open] > .claro-details__summary::before {
  transform: rotate(90deg); /* for LTR and RTL */
}

@media screen and (-ms-high-contrast: active) {
  .claro-details__summary:hover::before,
  .claro-details__summary:hover:focus::before {
    background: none;
  }

  .claro-details[open] > .claro-details__summary::before,
  [dir="rtl"] .claro-details[open] > .claro-details__summary::before {
    background: none;
    transform: rotate(135deg); /* for LTR and RTL */
    margin-right: 0.125rem;
    margin-top: calc((0.5625rem / -2) - 0.125rem);
  }
}

.claro-details[open] > .claro-details__summary--accordion,
.claro-details[open] > .claro-details__summary--accordion-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.claro-details__summary:hover {
  color: var(--color-absolutezero);
  background-color: var(--color-bgblue-hover);
}

/**
 * Focus styles.
 */

/**
 * Active has to be here for Firefox.
 * Merges standard collapse-processed selectors.
 */

[open] > .claro-details__summary--accordion:not(:focus):not(:active)::after,
[open] > .claro-details__summary--accordion-item:not(:focus):not(:active)::after,
.collapse-processed[open] > .claro-details__summary--accordion .details-title:not(:focus)::after,
.collapse-processed[open] > .claro-details__summary--accordion-item .details-title:not(:focus)::after {
  box-shadow: none;
  border: 3px solid var(--color-absolutezero);
  border-width: 0 0 0 3px; /* LTR */
  opacity: 1;
}
[dir="rtl"] [open] > .claro-details__summary--accordion:not(:focus)::after,
[dir="rtl"] [open] > .claro-details__summary--accordion-item:not(:focus)::after,
[dir="rtl"] .collapse-processed[open] > .claro-details__summary--accordion .details-title:not(:focus)::after,
[dir="rtl"] .collapse-processed[open] > .claro-details__summary--accordion-item .details-title:not(:focus)::after {
  border-width: 0 3px 0 0;
}

.claro-details__summary:focus::after,
.claro-details__summary:active::after,
.collapse-processed > .claro-details__summary .details-title:focus::after {
  opacity: 1;
}

/**
 * Safari workaround.
 */
/* stylelint-disable-next-line unit-whitelist */
@media not all and (min-resolution: 0.001dpcm) {
  @media {
    .claro-details__summary:focus::after,
    .claro-details__summary:active::after {
      transition: none;
    }
  }
}

.claro-details[open] > .claro-details__summary:focus {
  color: var(--color-absolutezero);
}

/**
 * Details wrapper and content.
 *
 * Accordion and accordion-item variants should have an extra background.
 * In that case, we render an additional wrapper 'claro-details__content' that
 * creates the visual margins around the content, and use the original
 * wrapper for setting the background color.
 *
 * If there is no border or padding defined, margins of parent-child elements
 * collapse to the highest value. We want to take benefit of this behavior,
 * because the elements inside the details content won't cause too big
 * vertical spacing.
 */
.claro-details__wrapper,
.claro-details__content {
  margin: var(--space-m);
}

.claro-details__wrapper--accordion,
.claro-details__wrapper--accordion-item {
  margin: 0;
}
.claro-details__wrapper--accordion::before,
.claro-details__wrapper--accordion::after,
.claro-details__wrapper--accordion-item::before,
.claro-details__wrapper--accordion-item::after {
  display: table;
  clear: both;
  content: "";
}

@media screen and (min-width: 48em) {
  .claro-details__wrapper {
    margin: var(--space-l) var(--details-wrapper-padding-desktop-left);
  }

  .claro-details__wrapper--accordion,
  .claro-details__wrapper--accordion-item {
    margin: 0;
  }
}

.claro-details__content--accordion,
.claro-details__content--accordion-item {
  margin: var(--space-m) var(--space-m) var(--space-l);
}

.claro-details__wrapper--accordion,
.claro-details__wrapper--accordion-item {
  background-color: var(--color-whitesmoke-o-40);
  border-top: var(--size-details-border) solid var(--color-details-border);
}

/**
 * Collapse processed for non-supporting browsers like IE or Edge.
 */
.collapse-processed > .claro-details__summary {
  padding: 0;
}

.collapse-processed > .claro-details__summary::after {
  content: none;
}

.collapse-processed > .claro-details__summary .details-title {
  display: block;
  padding: var(--space-m) var(--space-m) var(--space-m) var(--details-wrapper-padding-desktop-left); /* LTR */
  color: inherit;
  border-radius: var(--size-summary-border-radius);
  position: relative;
}
[dir="rtl"] .collapse-processed > .claro-details__summary .details-title {
  padding-right: var(--details-wrapper-padding-desktop-left);
  padding-left: var(--space-m);
}

.collapse-processed > .claro-details__summary--accordion .details-title,
.collapse-processed > .claro-details__summary--accordion-item .details-title {
  padding: var(--space-l) var(--space-l) var(--space-l) var(--details-wrapper-padding-desktop-left); /* LTR */
}
[dir="rtl"] .collapse-processed > .claro-details__summary--accordion .details-title,
[dir="rtl"] .collapse-processed > .claro-details__summary--accordion-item .details-title {
  padding-right: var(--details-wrapper-padding-desktop-left);
  padding-left: var(--space-l);
}

/* Focus and hover states. */
.collapse-processed > .claro-details__summary .details-title:focus,
.collapse-processed > .claro-details__summary .details-title:hover {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  z-index: 1;
}

.collapse-processed > .claro-details__summary .details-title::after {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  transition: opacity var(--transition-duration-details-box-shadow) ease-in-out;
  opacity: 0;
  content: "";
  border: 3px solid var(--color-focus);
  border-radius: var(--size-details-border-radius);
  pointer-events: none;
}

.collapse-processed > .claro-details__summary .details-title:focus::after {
  opacity: 1;
}

/* Accordion item modifiers for the focus box. */

.collapse-processed > .claro-details__summary--accordion-item .details-title::after {
  border-radius: 0;
}

.collapse-processed:first-child > .claro-details__summary--accordion-item .details-title::after {
  border-top-right-radius: var(--size-details-border-radius);
  border-top-left-radius: var(--size-details-border-radius);
}

.collapse-processed:last-child > .claro-details__summary--accordion-item .details-title::after {
  border-bottom-right-radius: var(--size-details-border-radius);
  border-bottom-left-radius: var(--size-details-border-radius);
}

.collapse-processed[open] > .claro-details__summary--accordion .details-title::after,
.collapse-processed[open] > .claro-details__summary--accordion-item .details-title::after {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/**
 * Hide JS summary from the details polyfill to make it consistent with native
 * details elements.
 *
 * @todo Consider removing this after https://www.drupal.org/node/2493957 has
 * been solved.
 */
.claro-details__summary--accordion .summary,
.claro-details__summary--accordion-item .summary {
  display: none;
}

@media screen and (-ms-high-contrast: active) {
  .collapse-processed[open] > .claro-details__summary--accordion .details-title:not(:focus)::after,
  .collapse-processed[open] > .claro-details__summary--accordion-item .details-title:not(:focus)::after {
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
  }
  .collapse-processed > .claro-details__summary .details-title::after {
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 2px dotted;
  }
}
