/**
 * @file
 * Dropbutton styles.
 *
 * 1. Transparent border is needed for high contrast mode. The border-width has
 *    to be set with !important to render borders with the defined width in high
 *    contrast mode Firefox.
 */

.dropbutton-wrapper {
  display: inline-flex;
  border-radius: var(--size-button-border-radius);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.form-actions .dropbutton-wrapper {
  margin: var(--space-xs) var(--space-m) var(--space-xs) 0;
}
[dir="rtl"] .form-actions .dropbutton-wrapper {
  margin-right: 0;
  margin-left: var(--space-m);
}

.dropbutton-widget {
  position: relative;
  flex: 1 1 auto;
}

.js .dropbutton-wrapper.open .dropbutton-widget {
  z-index: 100;
}

/**
 * Dropbutton list.
 */
.dropbutton {
  display: block;
  list-style: none;
  margin: 0;
  overflow: visible;
}
[dir="rtl"] .dropbutton {
  margin: 0;
}

.js .dropbutton {
  height: var(--size-dropbutton-toggle);
}

/* Variants. */
.js .dropbutton--small {
  height: var(--size-dropbutton-toggle--small);
}

.js .dropbutton--extrasmall {
  height: var(--size-dropbutton-toggle--extrasmall);
}

/**
 * First dropbutton list item.
 */
.js .dropbutton--multiple .dropbutton__item:first-of-type {
  margin-right: calc(var(--size-dropbutton-toggle) + var(--size-dropbutton-toggle-spacing)); /* LTR */
}
[dir="rtl"].js .dropbutton--multiple .dropbutton__item:first-of-type {
  margin-right: 0;
  margin-left: calc(var(--size-dropbutton-toggle) + var(--size-dropbutton-toggle-spacing));
}

/* First dropbutton list item variants */
.js .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type {
  margin-right: calc(var(--size-dropbutton-toggle--small) + var(--size-dropbutton-toggle-spacing)); /* LTR */
}
[dir="rtl"].js .dropbutton--multiple.dropbutton--small .dropbutton__item:first-of-type {
  margin-right: 0;
  margin-left: calc(var(--size-dropbutton-toggle--small) + var(--size-dropbutton-toggle-spacing));
}

.js .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type {
  margin-right: calc(var(--size-dropbutton-toggle--extrasmall) + var(--size-dropbutton-toggle-spacing)); /* LTR */
}
[dir="rtl"].js .dropbutton--multiple.dropbutton--extrasmall .dropbutton__item:first-of-type {
  margin-right: 0;
  margin-left: calc(var(--size-dropbutton-toggle--extrasmall) + var(--size-dropbutton-toggle-spacing));
}

/**
 * Dropbutton toggler.
 */
.dropbutton__toggle {
  position: absolute;
  top: 0;
  right: 0; /* LTR */
  bottom: 0;
  width: var(--size-dropbutton-toggle);
  height: var(--size-dropbutton-toggle);
  border: var(--size-dropbutton-border) solid transparent !important; /* 1 */
  background: var(--color-button-default-bg);
  appearance: none;
  border-radius: 0 var(--size-button-border-radius) var(--size-button-border-radius) 0; /* LTR */
  z-index: 3;
  font-size: 1px; /* iOS Safari sets a minimum button-width based on font-size. */
}
[dir="rtl"] .dropbutton__toggle {
  right: auto;
  left: 0;
  border-radius: var(--size-button-border-radius) 0 0 var(--size-button-border-radius);
}

.dropbutton__toggle::before {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(0);
  width: 0.875rem;
  height: 0.5625rem;
  background: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.2384999,1.9384769 1.646703,0.5166019 7.0002189,5.8193359 12.353735,0.5166019 13.761938,1.9384769 7.0002189,8.635742Z' fill='%23222330'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  content: "";
}

/* Toggler states. */
.dropbutton__toggle:hover {
  background-color: var(--color-button-default-bg-hover);
  color: var(--color-button-default-fg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.dropbutton__toggle:focus {
  z-index: 2;
}

.dropbutton__toggle:active {
  background-color: var(--color-button-default-bg-active);
  color: var(--color-button-default-fg);
}

.dropbutton-wrapper.open .dropbutton__toggle::before {
  transform: translate(50%, -50%) rotate(180deg);
}
[dir="rtl"] .dropbutton-wrapper.open .dropbutton__toggle::before {
  transform: translate(50%, -50%) rotate(-180deg);
}

/* Toggler variants */
.dropbutton--small .dropbutton__toggle {
  width: var(--size-dropbutton-toggle--small);
  height: var(--size-dropbutton-toggle--small);
}

.dropbutton--extrasmall .dropbutton__toggle {
  width: var(--size-dropbutton-toggle--extrasmall);
  height: var(--size-dropbutton-toggle--extrasmall);
}

.dropbutton--small .dropbutton__toggle::before,
.dropbutton--extrasmall .dropbutton__toggle::before {
  width: 0.75rem; /* 12px */
}

/* High contrast. */
@media screen and (-ms-high-contrast: active) {
  /* Default. */
  .dropbutton__toggle::before {
    background: none;
    border: 0.125rem solid;
    border-width: 0.125rem 0.125rem 0 0;
    width: 0.5625rem;
    height: 0.5625rem;
    margin-top: calc(0.5625rem / (2 * -1.41429));
    transform: translate(50%, -50%) rotate(135deg); /* LTR */
  }

  .dropbutton-wrapper.open .dropbutton__toggle::before {
    margin-top: calc(0.5625rem / (2 * 1.41429));
    transform: translate(50%, -50%) rotate(315deg);
  }
  [dir="rtl"] .dropbutton-wrapper.open .dropbutton__toggle::before {
    transform: translate(50%, -50%) rotate(-45deg);
  }

  /* Variants */

  .dropbutton--small .dropbutton__toggle::before,
  .dropbutton--extrasmall .dropbutton__toggle::before {
    width: 0.4375rem;
    height: 0.4375rem;
    margin-top: calc(0.4375rem / (2 * -1.41429));
  }

  .dropbutton-wrapper.open .dropbutton__toggle::before {
    margin-top: calc(0.4375rem / (2 * 1.41429));
  }
}

/**
 * Item in the first dropbutton list item (that looks like a button).
 *
 * Duplicates base button styles.
 */
.dropbutton__item:first-of-type > * {
  display: inline-block;
  padding: calc(var(--size-dropbutton-spacing) - var(--size-dropbutton-border)) calc(var(--space-l) - var(--size-dropbutton-border));
  text-align: center;
  appearance: none;
  background-color: var(--color-button-default-bg);
  border: var(--size-dropbutton-border) solid transparent !important; /* 1 */
  font-size: var(--font-size-dropbutton);
  font-weight: 700;
  line-height: var(--line-height-dropbutton);
  color: var(--color-button-default-fg);
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  border-radius: var(--size-button-border-radius);
  cursor: pointer;
  margin: 0;
}
.dropbutton--multiple .dropbutton__item:first-of-type > * {
  padding-right: calc(var(--size-dropbutton-spacing) - var(--size-dropbutton-border));
  padding-left: calc(var(--size-dropbutton-spacing) - var(--size-dropbutton-border));
}

/* Variants */
.dropbutton__item--small:first-of-type > * {
  padding-top: calc(var(--size-dropbutton-spacing--small) - var(--size-dropbutton-border));
  padding-bottom: calc(var(--size-dropbutton-spacing--small) - var(--size-dropbutton-border));
  font-size: var(--font-size-dropbutton--small);
  line-height: var(--line-height-dropbutton--small);
}

.dropbutton__item--extrasmall:first-of-type > * {
  padding-top: calc(var(--size-dropbutton-spacing--extrasmall) - var(--size-dropbutton-border));
  padding-bottom: calc(var(--size-dropbutton-spacing--extrasmall) - var(--size-dropbutton-border));
  font-size: var(--font-size-dropbutton--extrasmall);
  line-height: var(--line-height-dropbutton--extrasmall);
}

.dropbutton__item:first-of-type > *:hover,
.dropbutton__item:first-of-type > .button:hover {
  background-color: var(--color-button-default-bg-hover);
  color: var(--color-button-default-fg);
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.dropbutton__item:first-of-type > *:focus:hover,
.dropbutton__item:first-of-type > .button:focus:hover {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus);
}

.dropbutton__item:first-of-type > *:focus {
  text-decoration: none;
}

.dropbutton__item:first-of-type > *:active {
  background-color: var(--color-button-default-bg-active);
  color: var(--color-button-default-fg);
}

.dropbutton--multiple .dropbutton__item:first-of-type > * {
  position: relative;
  z-index: 3;
}

.dropbutton--multiple .dropbutton__item:first-of-type > *:focus {
  z-index: 2;
}

.js .dropbutton--multiple .dropbutton__item:first-of-type > * {
  border-radius: var(--size-button-border-radius) 0 0 var(--size-button-border-radius); /* LTR */
}
[dir="rtl"].js .dropbutton--multiple .dropbutton__item:first-of-type > * {
  border-radius: 0 var(--size-button-border-radius) var(--size-button-border-radius) 0;
}

.dropbutton > .dropbutton__item > a,
.dropbutton > .dropbutton__item > .button {
  margin: 0;
  display: block;
  width: 100%;
  text-align: left; /* LTR */
  box-sizing: border-box;
}
[dir="rtl"] .dropbutton > .dropbutton__item > a,
[dir="rtl"] .dropbutton > .dropbutton__item > .button {
  text-align: right;
}

.js .dropbutton-wrapper:not(.open) .dropbutton__item:first-of-type ~ .dropbutton__item {
  display: none;
}

/**
 * Non-first dropbutton list elements.
 */
.dropbutton__item:first-of-type ~ .dropbutton__item {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border: var(--size-dropbutton-border) solid var(--color-lightgray);
  border-bottom: 0;
}

.dropbutton__item:first-of-type ~ .dropbutton__item ~ .dropbutton__item {
  border-top: 0;
}

.dropbutton__item ~ .dropbutton__item:last-child {
  border-bottom: var(--size-dropbutton-border) solid var(--color-lightgray);
  border-radius: 0 0 var(--size-dropbutton-border-radius) var(--size-dropbutton-border-radius);
}

/**
 * Dropbutton items of non-first dropbutton list elements.
 */
.dropbutton__item:first-of-type ~ .dropbutton__item > a,
.dropbutton__item:first-of-type ~ .dropbutton__item > .button {
  position: relative;
  border: var(--size-dropbutton-border) solid transparent !important; /* 1 */
  border-radius: var(--size-dropbutton-border-radius);
  background: var(--color-white);
  color: var(--color-davysgrey);
  font-weight: normal;
  font-size: var(--font-size-dropbutton);
  padding: calc(var(--size-dropbutton-spacing) - var(--size-dropbutton-border));
  line-height: var(--line-height-dropbutton);
  box-shadow: 0;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

/**
 * Set the the inherited button border color to transparent for high contrast
 * mode.
 */
@media screen and (-ms-high-contrast: active) {
  .dropbutton__item:first-of-type ~ .dropbutton__item > a,
  .dropbutton__item:first-of-type ~ .dropbutton__item > .button {
    border-color: transparent !important;
  }
}

.dropbutton__item:first-of-type ~ .dropbutton__item > a:not(:focus),
.dropbutton__item:first-of-type ~ .dropbutton__item > .button:not(:focus) {
  z-index: 1;
}

/* Variants. */
.dropbutton__item:first-of-type ~ .dropbutton__item--small > a,
.dropbutton__item:first-of-type ~ .dropbutton__item--small > .button {
  padding-top: var(--size-dropbutton-spacing--small);
  padding-bottom: var(--size-dropbutton-spacing--small);
  font-size: var(--font-size-dropbutton--small);
  line-height: var(--line-height-dropbutton--small);
}

.dropbutton__item:first-of-type ~ .dropbutton__item--extrasmall > a,
.dropbutton__item:first-of-type ~ .dropbutton__item--extrasmall > .button {
  padding-top: var(--size-dropbutton-spacing--extrasmall);
  padding-bottom: var(--size-dropbutton-spacing--extrasmall);
  font-size: var(--font-size-dropbutton--extrasmall);
  line-height: var(--line-height-dropbutton--extrasmall);
}

/* States. */
.dropbutton__item > *:focus {
  position: relative;
  z-index: 3;
}

.dropbutton__item:first-of-type ~ .dropbutton__item > *:hover {
  background: var(--color-whitesmoke);
  color: var(--color-text);
}

.dropbutton__item > .button:not(:focus) {
  box-shadow: none;
}

.dropbutton__item:first-of-type ~ .dropbutton__item > *:focus {
  box-shadow: inset 0 0 0 1px var(--color-focus), 0 0 0 1px var(--color-focus);
  border-color: var(--color-focus) !important; /* 1 */
}
