/**
 * @file
 * Entity meta.
 */

:root {
  --size-entity-meta-spacing: var(--space-xs);
}

.entity-meta__header {
  padding: calc(var(--space-m) - var(--size-entity-meta-spacing)) var(--space-m) calc(var(--space-l) - var(--size-entity-meta-spacing));
  border: var(--size-details-border) solid var(--color-details-border);
  border-radius: var(--size-accordion-border-radius);
  background-color: var(--color-bg);
  color: var(--color-fg);
}

@media screen and (min-width: 48em) {
  .entity-meta__header {
    padding: calc(var(--space-l) - var(--size-entity-meta-spacing)) var(--space-l) var(--space-l);
  }
}

.entity-meta__header .form-item {
  margin-top: var(--size-entity-meta-spacing);
  margin-bottom: var(--size-entity-meta-spacing);
}

.entity-meta__title {
  font-size: 1.231em;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  margin: 0.25em 0;
}

.entity-meta__revision {
  margin-top: var(--space-l);
}

.entity-meta__header .form-type--item .form-item__label {
  display: inline-block;
  font-size: var(--font-size-base);
  margin: 0;
}

.entity-meta__header .form-type--item .form-item__label::after {
  content: ":";
}
