/**
 * @file
 * Fieldset styles.
 */

.fieldset {
  min-width: 0;
  margin: var(--space-m) 0;
  padding: 0;
  border: var(--size-details-border) solid var(--color-details-border);
  border-radius: var(--base-border-radius);
  background-color: var(--color-white);
  color: var(--color-text);
  box-shadow: var(--shadow-details);
}

.fieldset--group {
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit;
  box-shadow: none;
}

/* IE workaround. */
/* stylelint-disable-next-line selector-type-no-unknown */
_:-ms-fullscreen,
.fieldset {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

/**
 * Fieldset legend.
 */
.fieldset__legend {
  display: contents; /* For Firefox. */
  float: left; /* iOS Safari, Android Chrome, Edge. */
  width: 100%; /* iOS Safari, Android Chrome, Edge. */
  margin-bottom: var(--space-m);
  color: var(--color-davysgrey);
  font-weight: bold;
}

@media screen and (min-width: 48em) {
  .fieldset__legend {
    margin-bottom: var(--space-l);
  }
}

.fieldset__legend--composite {
  margin-top: calc(4em / 14); /* 4px */
  margin-bottom: calc(4em / 14); /* 4px */
  color: inherit;
  font-size: calc(14em / 16); /* 14px */
  line-height: calc(18 / 14); /* 18px */
}

/* This is used only on install configure form. */
.fieldset__legend--group {
  color: inherit;
  text-transform: uppercase;
}

.fieldset__label {
  display: block;
  padding: var(--space-m);
  line-height: var(--space-m);
}

@media screen and (min-width: 48em) {
  .fieldset__label {
    padding-right: var(--space-l);
    padding-left: var(--space-l);
  }
}

.fieldset__label--group {
  padding: 0;
  line-height: inherit;
}

.fieldset__label.is-disabled {
  color: var(--color-input-fg-disabled);
}

.fieldset__label.has-error {
  color: var(--color-input-error);
}

.fieldset__description {
  font-size: calc(12em / 16); /* 12px */
  line-height: calc(17 / 12); /* 17px */
  color: var(--color-description-fg);
  margin-top: calc(6em / 12); /* 6px */
  margin-bottom: calc(6em / 12); /* 6px */
}

.fieldset__description.is-disabled {
  color: var(--color-input-fg-disabled);
}

/* Error message (Inline form errors). */
.fieldset__error-message {
  font-size: calc(12em / 16); /* 12px */
  font-weight: normal;
  line-height: calc(17 / 12); /* 17px */
  color: var(--color-input-error);
  margin-top: calc(6em / 12); /* 6px */
  margin-bottom: calc(6em / 12); /* 6px */
}

.fieldset__wrapper {
  margin: 0 var(--space-m) var(--space-m);
}

@media screen and (min-width: 48em) {
  .fieldset__wrapper {
    margin: 0 var(--space-l) calc(var(--space-m) + var(--space-s));
  }
}

.fieldset__wrapper--group {
  margin: 0;
}

/**
 * Remove the unnecessary extra padding of container-inline wrapper if it's used
 * inside a fieldset.
 */
.fieldset__wrapper > .container-inline {
  padding: 0;
}
