/**
 * @file
 * Main form and form item styles.
 */

::placeholder {
  color: var(--color-placeholder-fg);
}
/* IE 10 and 11 needs this set as important. */
:-ms-input-placeholder {
  color: var(--color-placeholder-fg) !important;
}

/**
 * General form item.
 */
.form-item {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}
/**
 * When a table row or a container-inline has a single form item, prevent it
 * from adding unnecessary extra spacing.
 * If it has multiple form items, allow spacing between them, overriding Classy.
 */
tr .form-item,
.container-inline .form-item {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}
/* Remove spacing if the form item nested in table is the only child. */
td > .form-item:only-child,
.container-inline .form-item:only-child {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

/**
 * Form element label.
 */
.form-item__label {
  display: table;
  font-size: calc(14em / 16); /* 14px */
  line-height: calc(18 / 14); /* 18px */
  margin-top: calc(4em / 14); /* 4px */
  margin-bottom: calc(4em / 14); /* 4px */
  font-weight: bold;
}
.form-item__label[for] {
  cursor: pointer;
}
.form-item__label.option {
  display: inline;
  font-weight: normal;
}
/* Label states. */
.form-item__label.has-error {
  color: var(--color-input-error);
}
.form-item__label.option.has-error {
  color: inherit;
}
.form-item__label.is-disabled {
  color: var(--color-input-fg-disabled);
  cursor: default; /* @todo ...or auto? */
}
.form-item__label.form-required::after,
.fieldset__label.form-required::after {
  content: "";
  vertical-align: super;
  display: inline-block;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(../../../images/core/ee0000/required.svg);
  background-repeat: no-repeat;
  background-size: var(--size-required-mark) var(--size-required-mark);
  width: var(--size-required-mark);
  height: var(--size-required-mark);
  margin-right: 0.3em;
  margin-left: 0.3em;
}

/**
 * Form item description.
 */
.form-item__description {
  font-size: calc(12em / 16); /* 12px */
  line-height: calc(17 / 12); /* 17px */
  color: var(--color-description-fg);
  margin-top: calc(6em / 12); /* 6px */
  margin-bottom: calc(6em / 12); /* 6px */
}
/* Description states. */
.form-item__description.is-disabled {
  color: var(--color-input-fg-disabled);
}

/**
 * Error message (Inline form errors).
 */
.form-item__error-message {
  font-size: calc(12em / 16); /* 12px */
  font-weight: normal;
  line-height: calc(17 / 12); /* 17px */
  color: var(--color-input-error);
  margin-top: calc(6em / 12); /* 6px */
  margin-bottom: calc(6em / 12); /* 6px */
}

.form-item__prefix.is-disabled,
.form-item__suffix.is-disabled {
  color: var(--color-input-fg-disabled);
}

/**
 * Form actions.
 */
.form-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}
.form-actions .button {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

/**
 * Password module.
 *
 * @legacy
 * @todo These should be in a standalone component file.
 */
.confirm-parent,
.password-parent {
  overflow: visible;
  width: auto;
}

.form-item-options-group-info-identifier,
.form-item-pass .description {
  clear: both;
}

/**
 * Improve form element usability on narrow devices.
 *
 * @legacy
 */
@media screen and (max-width: 600px) {
  .password-strength {
    width: 100%;
  }
  div.form-item div.password-suggestions {
    float: none;
  }
}
