/**
 * @file
 * Visual styles for progress bar.
 *
 * @see progress.js
 */

.progress::after {
  display: table;
  clear: both;
  content: "";
}

.progress--small .progress__track {
  height: var(--size-progress-bar-small);
}
.progress--small .progress__bar {
  height: var(--size-progress-bar-small);
}

.progress--small .progress__label {
  font-size: var(--font-size-progress-bar-label-small);
}

.progress__track {
  border-color: var(--color-progress-track-border);
  border-radius: var(--size-progress-bar-default-radius);
  background-color: var(--color-progress-track-bg);
  height: var(--size-progress-bar-default);
  margin-top: 0;
}

.progress__bar {
  border: 1px var(--color-progress-bar-border) solid;
  background-color: var(--color-progress-bar-bg);
  margin-top: -1px;
  margin-left: -1px; /* LTR */
  height: var(--size-progress-bar-default);
  border-radius: var(--size-progress-bar-default-radius);
  transition: width 0.5s ease-out;
}
[dir="rtl"] .progress__bar {
  margin-left: 0;
  margin-right: -1px;
}
/* Variations of progress bar for password field */
.progress__bar.is-weak {
  border-color: var(--color-progress-bar-border-is-weak);
  background-color: var(--color-progress-bar-bg-is-weak);
}
.progress__bar.is-fair {
  border-color: var(--color-progress-bar-border-is-fair);
  background-color: var(--color-progress-bar-bg-is-fair);
}
.progress__bar.is-good {
  border-color: var(--color-progress-bar-border-is-good);
  background-color: var(--color-progress-bar-bg-is-good);
}
.progress__bar.is-strong {
  border-color: var(--color-progress-bar-border-is-strong);
  background-color: var(--color-progress-bar-bg-is-strong);
}

.progress__label {
  font-size: var(--font-size-progress-bar-label);
  font-weight: 600;
  margin-bottom: var(--size-progress-bar-spacing);
}

.progress__description,
.progress__percentage {
  color: var(--color-progress-bar-description);
  overflow: hidden;
  font-size: var(--font-size-progress-bar-description);
  margin-top: var(--size-progress-bar-spacing);
}

@media screen and (prefers-reduced-motion: reduce) {
  .progress__bar {
    transition: none;
  }
}
